{# Featured Categories Component - MOBEX Design #}
<section class="featured-categories">
    <div class="container">
        <h4 class="section-title">Featured categories</h4>
        <div class="categories-grid">
            <div class="category-item">
                <a href="{{ 'categories/body'|url }}">
                    <div class="category-icon">
                        <img src="{{ 'images/categories/body.jpg'|asset }}" alt="Body">
                    </div>
                    <h3>Body</h3>
                </a>
            </div>
            <div class="category-item">
                <a href="{{ 'categories/brakes'|url }}">
                    <div class="category-icon">
                        <img src="{{ 'images/categories/brakes.jpg'|asset }}" alt="Brakes">
                    </div>
                    <h3>Brakes</h3>
                </a>
            </div>
            <div class="category-item">
                <a href="{{ 'categories/care-kit'|url }}">
                    <div class="category-icon">
                        <img src="{{ 'images/categories/care-kit.jpg'|asset }}" alt="Care Kit">
                    </div>
                    <h3>Care Kit</h3>
                </a>
            </div>
            <div class="category-item">
                <a href="{{ 'categories/damping'|url }}">
                    <div class="category-icon">
                        <img src="{{ 'images/categories/damping.jpg'|asset }}" alt="Damping">
                    </div>
                    <h3>Damping</h3>
                </a>
            </div>
            <div class="category-item">
                <a href="{{ 'categories/electrics'|url }}">
                    <div class="category-icon">
                        <img src="{{ 'images/categories/electrics.jpg'|asset }}" alt="Electrics">
                    </div>
                    <h3>Electrics</h3>
                </a>
            </div>
            <div class="category-item">
                <a href="{{ 'categories/engine'|url }}">
                    <div class="category-icon">
                        <img src="{{ 'images/categories/engine.jpg'|asset }}" alt="Engine">
                    </div>
                    <h3>Engine</h3>
                </a>
            </div>
            <div class="category-item">
                <a href="{{ 'categories/filters'|url }}">
                    <div class="category-icon">
                        <img src="{{ 'images/categories/filters.jpg'|asset }}" alt="Filters">
                    </div>
                    <h3>Filters</h3>
                </a>
            </div>
            <div class="category-item">
                <a href="{{ 'categories/interior'|url }}">
                    <div class="category-icon">
                        <img src="{{ 'images/categories/interior.jpg'|asset }}" alt="Interior">
                    </div>
                    <h3>Interior</h3>
                </a>
            </div>
            <div class="category-item">
                <a href="{{ 'categories/fluids'|url }}">
                    <div class="category-icon">
                        <img src="{{ 'images/categories/fluids.jpg'|asset }}" alt="Fluids">
                    </div>
                    <h3>Fluids</h3>
                </a>
            </div>
        </div>
    </div>
</section>
